body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main{
    flex: 1;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.main img {
    max-width: 50%;
    margin-left: auto;
    height: auto;
}
.login {
    max-width: 50%;
    padding: 20px;
}
.login h2 {
    font-size: 24px;
}
.linebod {
    display: inline-block; /* Para que el elemento ocupe solo el ancho necesario */
    width: 100%; /* Para expandir la línea horizontalmente */
    border-bottom: 1px solid black; /* Estilo de la línea */
    margin: 5px 0; /* Espaciado vertical */
}
.login button {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.login button img {
    height: 20px;
    margin-right: 10px;
}

.profile-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.profile-left h2 {
    font-size: 36px;
    color: #3b3b3b;
}
.profile-left img {
    max-width: 50%;
    margin: 0px 0px 0px 0;
    height: auto;
}
.logout-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: 0px solid #ddd;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.logout-button img {
    height: 50px;
    margin-right: 10px;
}
.logout-button:hover {
    background-color: #e0e0e0;
}
.profile-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 15px;
}
.profile-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 10px;
    background-color: white;
    border-radius: 5px;
}
.profile-info label {
    font-weight: bold;
    color: #3b3b3b;
}
.profile-info span {
    color: #3b3b3b;
}

/*Area Estudiante*/
.nav-buttons {
    display: flex;
    gap: 20px;
}
.nav-buttons a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: #00bf63;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-buttons a:hover {
    background-color: #ccc;
}
.content {
    padding: 20px;
}
.title {
    text-align: center;
    font-size: 50px;
    color: #3b3b3b;
    margin-bottom: 20px;
}
.subjects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.subject-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}
.subject-card:hover {
    transform: scale(1.05);
}
.subject-card img {
    height: 200px;
    margin-bottom: 10px;
}
.subject-card h3 {
    margin: 0;
    font-size: 18px;
    color: #3b3b3b;
}

/*Calificaciones Estudiante*/

.grades-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.grade-bar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
}
.grade-bar:hover {
    transform: scale(1.02);
}
.grade-bar img {
    height: 50px;
    margin-right: 20px;
}
.grade-bar .subject-name {
    font-size: 18px;
    color: #3b3b3b;
    flex-grow: 1;
}
.grade-bar .grade {
    font-size: 18px;
    font-weight: bold;
    color: #3b3b3b;
}