body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Arial", sans-serif;
    background-color: #f6f4f3;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main{
    flex: 1;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.main img {
    max-width: 50%;
    margin-left: auto;
    height: auto;
}
.login {
    max-width: 50%;
    padding: 20px;
}
.login h2 {
    font-size: 24px;
}
.linebod {
    display: inline-block; /* Para que el elemento ocupe solo el ancho necesario */
    width: 100%; /* Para expandir la línea horizontalmente */
    border-bottom: 1px solid black; /* Estilo de la línea */
    margin: 5px 0; /* Espaciado vertical */
}
.login button {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.login button img {
    height: 20px;
    margin-right: 10px;
}