body {
    margin: 0;
    font-family: "Arial", sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main {
    display: flex;
    align-items: center;
    padding: 0px;
}
.main img {
    max-width: 56%;
    margin: 0px 0px 0px 0;
    height: auto;
}
.login {
    /*margin: 0 300px;*/
    max-width: 50%;
    padding: 20px;
    margin-left: 200px;
}
.login h2 {
    font-size: 50px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 259;
    font-style: normal;
}
.line {
    display: inline-block; /* Para que el elemento ocupe solo el ancho necesario */
    width: 100%; /* Para expandir la línea horizontalmente */
    border-bottom: 4px solid black; /* Estilo de la línea */
    margin: 5px 0; /* Espaciado vertical */
}
.login button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.login button img {
    height: 100px;
    margin-right: 10px;
}
